.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
assets/video.mp4
assets/mad.mp4
audio/one.wav
audio/two.wav
assets/music.wav
audio/早晨轻松愉快的音乐.wav
audio/欧美群星-Ima Boss(Meek Mill and Rick Ross).mp3
audio/欧美群星-Ima Boss(Meek Mill and Rick Ross)_WAV.wav
audio/绯闻女孩 - Good Day.mp3
audio/鈴木雅之,伊原六花 - ラブ・ドラマティック (TV Size).mp3
assets/hh.mp4
